# data files #
###################
data/
*.csv

# generated images #
###################
plots/
*.png
*.pdf


# generated data files #
###################
tables/
*.xlsx

# python #
###################
*ipynb_checkpoints*
__pycache__
*.pyc

# vim files #
###################
*.swp

# misc #
###################
*.sh

# latent-scope #
###################
latent-scope_data/
.env
